# Protein data folders
data/DPP11/
data/Mac1/
data/Mpro

# Enaminereal molecules, folders, and topN 
data/EnamineREAL_sym/
data/EnamineREAL/data
data/EnamineREAL/folds
data/EnamineREAL/topN

# KDE pickles
*.pickle
*.pkl
*.pdb

# VSCode
settings.json