name: Tests

on: [push, pull_request]

jobs:
  pytest:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repo
        uses: actions/checkout@v3

      - name: Set up python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
          cache: pip
          cache-dependency-path: setup.py

      - uses: conda-incubator/setup-miniconda@v2
        with:
          python-version: 3.9

      - name: Install fresco + dependencies
        run: |
          conda env update --file environment.yml --prune
          pip install .

      - name: Run tests
        run: pytest --cov fresco
