name: Tests

on: [push, pull_request]

jobs:
  pytest:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repo
        uses: actions/checkout@v3

      - name: Set up python
        uses: actions/setup-python@v2
        with:
          python-version: 3.7.10

      - uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: fresco
          environment-file: environment.yml
          python-version: 3.7.10

      - name: Install fresco + dependencies
        shell: bash -l {0}
        run: |
          pip install .

      - name: Run tests
        shell: bash -l {0}
        run: pytest test/ --cov fresco --cov-report term-missing
